#sitePageTitle{
  text-align: center;
  font-size: 30px;
}

body{
    background-color: #9999ff;
}

.container-fluid{
  position : absolute;
  left : 30px;
}

input{
  text-align:center;
}

/* the number on the button */
.number{
  text-align: left;
}


h4{
  text-align: center;
}

/* the 4 add money buttons */
.theFour{
  height: 40px;
  width: 120px;
}


.columnButtons{
  height: 40px;
  width: 140px;
}

#moneyBox{
  width : 130px;
  margin-left : 21%;
}

#itemBox{
  width : 120px;
  position : absolute;
  left : -460px;
}

#messageBox{
  position : absolute;
  left : 62px;
}

.quarNick{
  position : absolute;
  left : 150px;
}


#changeReturnButton{
  position : right;
  left : -15px;
  bottom : -33px;
}


#changeBox{
  width : 170px;
  position : absolute;
  left : 80px;
}

.itemButtons{
  left: 83px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: dodgerblue;


}

.snacks{
  border: 3px solid #a17f1a;
  background-color: dodgerBlue;
  color:black;
}

#totalInText{
  position : absolute;
  left:96px;

}

#makePurchaseButton{
  position : absolute;
  left:66px;
}

.theBoxes{
  border: 3px solid purple;

}

#messagesText{
  font-size: 19px;
  position: absolute;
  top: -43px;
  right: 985px;
}

#itemText{
    /*color:red;*/
    position: absolute;
    bottom: -36px;
}

#makePurchaseText{
    position: absolute;
    left: 74px;
    bottom: -26px;

}

.sideButtons{
    background-color: #00cc33;
    color: black;
}

.buttonTextColor{
    color: whitesmoke;
}
